---
layout: default
---

<section id="hero">
  <div class="wrapper">
    <h1>Fullstack web developer</h1>
    <hr/>
  </div>
</section>

<section id="main" class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-10 col-sm-12">
      <section id="intro">
        {% include about.html %}
      </section>

      <section id="abilities">
        {% include abilities/abilities.html %}
      </section>

      <section id="experiences">
        {% include experiences/experiences.html %}
      </section>
    </div>
  </div>
</section>
