<div class="row">
  <div class="col-xs-12">
    <h1><i class="fa fa-angle-right"></i>About</h1>

    <p>Passionate about new technologies, I had several times the opportunity to work in the world of startups, mostly at Euratechnologies, Lille.</p>
    <p>I have focused my specialization on development with Ruby on Rails framework which I use since 4 years.</p>
    <p>More recently, I had the opportunity to gain experience on the server aspect of my job (Docker, Capistrano, Nginx), and tries to gain skills with front frameworks such as Angular, Backbone, Polymer and Meteor.</p>
    <p>Eager for new experiences and willing to value my skills, I'll now offer my services as a freelance to help you with your projects.</p>

    {{ content }}
  </div>

  {% include break.html %}
</div>
