<div class="row">
  <div class="col-xs-12">
    <h1><i class="fa fa-angle-right"></i>Hello !</h1>

    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <p>
          I'm Geoffrey, freelance web developer in <a href="https://www.google.fr/maps/place/Lille" target="_blank">Lille</a> !
        </p>

        <p>
          I have focused my specialization on Ruby on Rails which I use since 5 years.
          <br/>
          Even if I enjoy a lot back-end programming, front-end has always been a thing I loved to work on.
          As is design, as is Ops... In fact, I like to build stuff from A to Z.
        </p>

        <p>
          Passionate about new tech and entrepreneurship, I had several times the
          opportunity to work in the world of start-ups.
          <br/>
          I loved it. I value time, good ideas and human beings.
        </p>

        <p>
          Eager for new experiences and willing to value my skills, I'd like to help you build your things.
        </p>

      </div>
    </div>
  </div>

  {% include break.html %}
</div>
