<nav id="header" class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-offset-1 col-md-10 col-sm-12">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ site.baseurl }}">
            Geoffrey Botin
          </a>
        </div>

        <div class="social">
          <ul class="list-inline">

            <li><a class="linkedin" target="_blank" href="https://www.linkedin.com/in/{{site.linkedin_username}}">
              <i class="fa fa-linkedin"></i>
            </a></li>

            <li><a class="twitter" target="_blank" href="https://twitter.com/{{site.twitter_username}}">
              <i class="fa fa-twitter"></i>
            </a></li>

            <li><a target="_blank" href="https://github.com/{{site.github_username}}">
              <i class="fa fa-github"></i>
            </a></li>

            <li><a class="skype" href="skype:{{site.skype_username}}?call">
              <i class="fa fa-skype"></i>
            </a></li>

            <li class="visible-xs-inline-block"><a href="mailto:{{site.email}}">
              <i class="fa fa-envelope-o"></i>
            </a></li>

            <li class="visible-xs-inline-block"><a href="tel:{{site.phone}}">
              <i class="fa fa-phone"></i>
            </a></li>

            <li class="hidden-xs"><a href="#"
              data-toggle="popover"
              data-html="true"
              data-placement="bottom"
              data-content="{{site.email}} <span class='clip-wrap'><a class='copy' data-clipboard-text='{{site.email}}' href='#'><i class='fa fa-clipboard'></i></a></span>">
              <i class="fa fa-envelope-o"></i>
            </a></li>

            <li class="hidden-xs"><a href="#"
              data-toggle="popover"
              data-html="true"
              data-placement="bottom"
              data-content="{{site.phone}} <span class='clip-wrap'><a class='copy' data-clipboard-text='{{site.phone}}' href='#'><i class='fa fa-clipboard'></i></a></span>">
              <i class="fa fa-phone"></i>
            </a></li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
