#header

  background: $white
  border: none

  box-shadow: 0 3px 3px $shadow-color

  .navbar-brand

    text-transform: uppercase
    font-family: RalewayRegular

  .social

    margin: 0
    padding: 15px 15px
    font-size: 18px
    line-height: 20px

    a
      color: $text-color-light

      &:hover
        color: $text-color
